.App {
  text-align: center;
  display: flex;
  flex: 1;
  max-height: 7.5vh;
}

.input-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-self: center;
  text-align: center;
}
.input-box * {
  margin: 0.5rem;
}