.App {
  text-align: center;
  display: flex;
  flex: 1;
  max-height: 7.5vh;
}

.input-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-self: center;
  text-align: center;
}
.input-box * {
  margin: 0.5rem;
}

.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#game-table{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 65vh;
  border: 0.2rem solid;
  border-color: #393939;
  border-radius: 1rem;
  background-image: url('../assets/img/table-bg.jpg');
  position: relative;
}

#pile{
  display: flex;
  flex-direction: row;
  align-self: center;
  position: relative;
}

.player-card{
  height: 7.5vh;
  transition: 1s;
}

.play-btn{
  width: 15vh;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}